<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a
      mat-raised-button
      color="accent"
      i18n="login button|The button used by the user to login@@loginButton"
      routerLink="/auth/login"
    >
      Login
    </a>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-hidden="false"
      i18-aria-label="navbar menu icon|The icon representing the menu in the navbar@@navbarMenuIcon"
      aria-label="Icon button menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>code</mat-icon>
        <span
          i18n="source code menu item|The item for the source code option in the menu@@sourceCodeMenuItem"
          >Source code</span
        >
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
