<mat-toolbar color="accent" class="fixed-bottom">
  <mat-toolbar-row>
    <button
      mat-icon-button
      i18n-title="previousButton|The button to skip to previous@@previousButton"
      title="Previous"
    >
      <mat-icon
        aria-hidden="false"
        i18n-aria-label="skip previous icon|Skip previous icon@@skipPreviousIcon"
        aria-label="Skip previous icon"
      >
        skip_previous
      </mat-icon>
    </button>
    <button
      mat-icon-button
      i18n-title="playButton|The play button@@playButton"
      title="Play"
    >
      <mat-icon
        aria-hidden="false"
        i18n-aria-label="play icon|Play icon@@playIcon"
        aria-label="Play icon"
      >
        play_arrow
      </mat-icon>
    </button>
    <button
      mat-icon-button
      i18n-title="nextButton|The button to skip to next@@nextButton"
      title="Next"
    >
      <mat-icon
        aria-hidden="false"
        i18n-aria-label="skip next icon|Skip next icon@@skipNextIcon"
        aria-label="Skip next icon"
      >
        skip_next
      </mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
